[submodule "bundle/qml"]
	path = bundle/qml
	url = git@github.com:luisgabriel/vim-qml.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = https://github.com/vim-scripts/ctags.vim--Johnson
[submodule "bundle/omnicpp"]
	path = bundle/omnicpp
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/color-jellybeans"]
	path = bundle/color-jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/color-distinguished"]
	path = bundle/color-distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule "bundle/color-solarized"]
	path = bundle/color-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/color-badwolf"]
	path = bundle/color-badwolf
	url = git://github.com/sjl/badwolf.git
[submodule "bundle/color-molokai"]
	path = bundle/color-molokai
	url = git://github.com/tomasr/molokai.git
